.tasksection_container {
    border: 1px solid red;
    height: 100%;
    padding: 10px;
    /* background-color: white; */
}

/* .tasksection_container_gray {
    border: 1px solid red;
    height: 100%;
    padding: 10px;
    background-color: gray;
    
} */

.create_task_btn {
    margin-bottom: 14px;
}

.filter_day_header {
    margin-bottom: 5px;
    display: flex;
    gap: 110px;
    align-items: center;
}

.filter_day_header select {
   font-size: 0.8rem;
   padding: 0 4px ;
   height: 20px;
}

.pagination_div {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: 1px solid blue; */
    
}

button {
    padding: 1px 2px
}